* {
background: #1e293b;
}


code {
background: #020617;
padding: 4px 8px;
border-radius: 6px;
color: #93c5fd;
}


footer {
background: #020617;
text-align: center;
padding: 25px;
border-top: 1px solid #1e293b;
font-size: 0.9rem;
opacity: 0.8;
}


@media (max-width: 768px) {
header h1 {
font-size: 2.2rem;
}


section h2 {
font-size: 1.5rem;
}


th,
td {
font-size: 0.9rem;
}
}
/* Tema claro */
.light-mode {
background-color: #f5f5f5;
color: #111;
}


.light-mode .navbar {
background-color: #e0e0e0;
}


.light-mode table th {
background-color: #d0d0d0;
color: #000;
}


.light-mode table td {
background-color: #ffffff;
color: #000;
}